
<nav class="navbar">
    <div class="logo">
      <img src="img/logoo.jpg" alt="logo">
    </div>
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="services">Services</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </nav>
  <div style="width: 60px;height: 60px; position: fixed; right: 10px; bottom:10px; z-index: 2; ">
   <a href="https://api.whatsapp.com/send?phone=917340523775"> <img src="/img/whtsaplg.jpeg" style="width:60px; height:60px;border-radius: 70%;"> </a>
  </div>
  <div style="width: 60px;height: 60px; position: fixed; left: 10px; bottom:10px; z-index: 2; ">
   <a href="tel:7340523775"> <img src="/img/call.jpg" style="width:60px; height:60px;border-radius: 70%;"> </a>
  </div>