

<footer class="footer">
    <div class="container">
        <div class="row"><div class="footer-col">
            <h4 class="company">
            </h4>
            <ul>
                <li><a href="about">about us</a></li>
                <li><a href="services">our services</a></li>
                <li><a href="#">privacypolicy</a></li>
                <li><a href="#"></a>affiliate program</li>
            </ul>
        </div>
    <div class="footer-col">
        <h4>get help</h4>
        <ul>
            <li><a href="contact">FAQ</a></li>
            <li><a href="#">shipping</a></li>
            <li><a href="#"></a>returns</li>
            <li><a href="#">order status</a></li>
            <li><a href="#"> payment option</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>online shop</h4>
        <ul>
            <li><a href="albeta">Albeta Marble</a></li>
            <li><a href="dungari">Dungari Marble</a></li>
            <li><a href="kumari">Kumari Marble</a></li>
            <li><a href="specialdesign">specialdesign Marble</a></li>
            <!-- <li><a href="cutsize">Cutsize Marble</a></li> -->
          </ul>
    </div>
    <div class="footer-col">
        <h4>follow us</h4>
      <div class="social-links">
        <a href="https://api.whatsapp.com/send?phone=917340523775"><img src="/img/whtsaplg.jpeg" class="icons"/></i></a>
       <a href="#"><img src="img/linkdlg.png" class="icons"/><i class="fab fa-twitter"></i></a>
        <a href="#"><img src="/img/download2.png" class="icons"/><i class="fab fa-instagram"></i></a>
        <a href="#"><img src="/img/download.jpg" class="icons"/><i class="fab fa-linkedin-in"></i></a>
     </div>
    </div>
    </div>
    </div>
</footer>