<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %> </title></title>
    <link rel="icon" type="image/x-icon" href="/img/fabicon.ico">
</head>
<body>

  
  <%-include('../partials/bar.ejs');%>

  <div class="about-section">
    <h1>About Us Page</h1>
    <p>We are from Makrana to provoid best Marbles</p>
    <br>
    <hr>
    <p>Makrana marble is a type of white marble, popular for use in sculpture and building decor. It is mined in the town of Makrana in Rajasthan, India, and was used in the construction of several iconic monuments such as the Taj Mahal in Agra and the Victoria Memorial in Kolkata. The Makrana Marble is listed as a Global Heritage Stone Resource by International Union of Geological Sciences</p>
    
    <div class="cb1">
      <img src="/img/tajmahal.jpg" alt="Nature" style="width:100%;">
    </div>
    <hr>
    <br>
    <p>Makrana is regarded as the oldest place in India with a marble quarry. Upon mining, Makrana marble is not subjected to any form of treatment, but used in cutting and chiseling straight away. Makrana marble is one of the two calcitic marble varieties in India, with all others being dolomitic. It has two varieties: white and albeta. The quantity of marble reserves in the region is estimated to be 55 million tonnes by the state government. About 120 thousand tonnes of the marble are produced annually from over 400 mines in the region.

      Makrana marble has a high percentage of calcium and is therefore resistant to water seepage. The water absorption of Makrana marble is said to be the lowest among all types in India, and the marble is claimed to contain 98 percent of calcium carbonate and only two percent of impurities, this property of Makrana marble helps it to stay the same proportion of white for a long period of time and because it contains 98 percent of calcium the polish of this marble is considered in the best. The different shades of Makrana marble are pure white, white with grey shades and white with pink shades, depending on the level of impurities. The close interlocking property of the marble makes it strong, hard and translucent. It is said to retain its shine and white color for a long period of time.</p>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>GRB Traders</h2>
        <p class="title">Company</p>
        <p> We are GRBTraders from Makrana</p>
        <p>Call : 7340523775 </p>
       <a href="/contact"> <p><button class="button">Contact Us</button></p> </a>
       <p>Address Details :2P43+955 GRB MARBLE TRADERS,Parbatsar-BidiyaR,Gunawati,Ind Area,Makrana,Nagaur,Rajasthan,341505</p>
      </div>
    </div>
  </div>
</div>
  </div>
  
  <%-include('../partials/nav.ejs');%>
  <%-include('../partials/head.ejs');%>
    </body>
</html>