<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %> </title></title>
    <link rel="icon" type="image/x-icon" href="/img/fabicon.ico">
</head>
<body>
  <%-include('../partials/bar.ejs');%>
      <div class="container">
        <h1>Welcome to the Albeta Marble Store</h1>
        <div class="marble-card">
          <div>
            <img class="alb1" src="/img/dungri 8,1.jpeg" alt="Albeta Marble" style="width:100%">
            <img class="alb1" src="/img/dungri 8,2.jpeg" alt="Kumari Marble" style="width:100%">
            <img class="alb1" src="/img/dungri 8,3.jpeg" alt="Special Design" style="width: 100%"> 
          </div>
        <div>
          <pre>
          <h2>Type: Albeta Marble </h2> </pre>
          <p>Size: (59X29)Inch</p>
          <p>Number of Slabs: 59</p>
          <p>Price: Rs 190(per sq feet)</p>
           <a href="tel:7340523775"> <button class="btn">Call Now</button> </a> 
            <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
          </a>
        </div>
      </div>
      <div class="marble-card">
        <div>
          <img class="alb2" src="/img/dungri 9,1.jpeg" alt="Albeta Marble" style="width:100%">
          <img class="alb2" src="/img/dungri 9,2.jpeg" alt="Kumari Marble" style="width:100%">
          <img class="alb2" src="/img/dungri 9,3.jpeg" alt="Special Design" style="width: 100%"> 
        </div>
      <div>
        <pre>
        <h2>Type: Albeta Marble </h2> </pre>
        <p>Size: (74X32)Inch</p>
        <p>Number of Slabs: 44</p>
        <p>Price: Rs 225(per sq feet)</p>
        <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
        <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
        </a>
      </div>
    </div>

    <div class="marble-card">
      <div>
        <img class="alb3" src="/img/dungri 10,1.jpeg" alt="Albeta Marble" style="width:100%">
        <img class="alb3" src="/img/dungri 10,2.jpeg" alt="Kumari Marble" style="width:100%">
        <img class="alb3" src="/img/dungri 10,3.jpeg" alt="Special Design" style="width: 100%"> 
      </div>
    <div>
      <pre>
      <h2>Type:  Albeta Marble </h2> </pre>
      <p>Size: (50X32)Inch</p>
      <p>Number of Slabs: 35</p>
      <p>Price: Rs 225(per sq feet)</p>
      <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
      
      <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
      </a>
    </div>
  </div>
  
  <%-include('../partials/nav.ejs');%>
  <%-include('../partials/head.ejs');%>
</body>
</html>