<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %> </title></title>
  <link rel="icon" type="image/x-icon" href="/img/fabicon.ico">
<body>
  <%-include('../partials/bar.ejs');%>
      <div class="container">
        <h1>Welcome to the Dungari Marble Store</h1>
        <div class="marble-card">
          <div>
            <img class="alb1" src="/img/dungri 2,1.jpeg" alt="Albeta Marble" style="width:100%">
            <img class="alb1" src="/img/dungri 2,2.jpeg" alt="Kumari Marble" style="width:100%">
            <img class="alb1"  src="/img/dungri 2,3.jpeg" alt="Special Design" style="width: 100%"> 
          </div>
        <div>
          <pre>
          <h2>Type: Dungari Marble </h2> </pre>
          <p>Size: (42X26)Inch</p>
          <p>Number of Slabs: 67</p>
          <p>Price: Rs 160(per sq feet)</p>
          <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
          
          <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
          </a>
        </div>
      </div>
      <div class="marble-card">
        <div>
          <img class="alb2" src="/img/dungri 1.jpg" alt="Albeta Marble" style="width:100%">
          <img class="alb2" src="/img/dungri 2.jpg" alt="Kumari Marble" style="width:100%">
          <img class="alb2"  src="/img/dungri 3.jpg" alt="Special Design" style="width: 100%"> 
        </div>
      <div>
        <pre>
        <h2>Type: Dungari Marble </h2> </pre>
        <p>Size: (42X26)Inch</p>
        <p>Number of Slabs: 67</p>
        <p>Price: Rs 160(per sq feet)</p>
        <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
        
        <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
        </a>
      </div>
    </div>

    <div class="marble-card">
      <div>
        <img class="alb3" src="/img/dungri 3,1.jpeg" alt="Albeta Marble" style="width:100%">
        <img class="alb3" src="/img/dungri 3,2.jpeg" alt="Kumari Marble" style="width:100%">
        <img class="alb3" src="/img/dungri 3,2.jpeg" alt="Special Design" style="width: 100%"> 
      </div>
    <div>
      <pre>
      <h2>Type: dungari Marble </h2> </pre>
      <p>Size: (42X26)Inch</p>
      <p>Number of Slabs: 67</p>
      <p>Price: Rs 160(per sq feet)</p>
      <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
      
      <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
      </a>
    </div>
  </div>
  <div class="marble-card">
    <div>
      <img class="alb4" src="/img/dungri 4,1.jpeg" alt="Albeta Marble" style="width:100%">
      <img class="alb4" src="/img/dungri 4,2.jpeg" alt="Kumari Marble" style="width:100%">
      <img class="alb4" src="/img/dungri 4,1.jpeg" alt="Special Design" style="width: 100%"> 
    </div>
  <div>
    <pre>
    <h2>Type: Dungari Marble </h2> </pre>
    <p>Size: (42X26)Inch</p>
    <p>Number of Slabs: 67</p>
    <p>Price: Rs 160(per sq feet)</p>
    <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
    
    <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
    </a>
  </div>
</div>

<div class="marble-card">
  <div>
    <img class="alb5" src="/img/dungri 4,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb5" src="/img/dungri 4,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb5" src="/img/dungri 4,1.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: dungari Marble </h2> </pre>
  <p>Size: (42X26)Inch</p>
  <p>Number of Slabs: 67</p>
  <p>Price: Rs 160(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
  
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>
<div class="marble-card">
  <div>
    <img class="alb6" src="/img/dungri 5,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb6" src="/img/dungri 5,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb6" src="/img/dungri 5,2.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Dungari Marble </h2> </pre>
  <p>Size: (42X26)Inch</p>
  <p>Number of Slabs: 67</p>
  <p>Price: Rs 160(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
  
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>

<div class="marble-card">
<div>
  <img class="alb7" src="/img/dungri 6,1.jpeg" alt="Albeta Marble" style="width:100%">
  <img class="alb7" src="/img/dungri 6,2.jpeg" alt="Kumari Marble" style="width:100%">
  <img class="alb7" src="/img/dungri 6,3.jpeg" alt="Special Design" style="width: 100%"> 
</div>
<div>
<pre>
<h2>Type: dungari Marble </h2> </pre>
<p>Size: (28X32)Inch</p>
<p>Number of Slabs: 40</p>
<p>Price: Rs 150(per sq feet)</p>
<a href="tel:7340523775"> <button class="btn">Call Now</button> </a>

<a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
</a>
</div>
</div>
<div class="marble-card">
  <div>
    <img class="alb8" src="/img/dungri 7,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb8" src="/img/dungri 7,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb8" src="/img/dungri 7,3.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Dungari Marble </h2> </pre>
  <p>Size: (58X25)Inch</p>
  <p>Number of Slabs: 58</p>
  <p>Price: Rs 160(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
  
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>

<div class="marble-card">
<div>
  <img class="alb9" src="/img/dungri 11,2.jpeg" alt="Albeta Marble" style="width:100%">
  <img class="alb9" src="/img/dungri 11,1.jpeg" alt="Kumari Marble" style="width:100%">
  <img class="alb9" src="/img/dungri 11,3.jpeg" alt="Special Design" style="width: 100%"> 
</div>
<div>
<pre>
<h2>Type: dungari Marble </h2> </pre>
<p>Size: (72X26)Inch</p>
<p>Number of Slabs: 69</p>
<p>Price: Rs 170(per sq feet)</p>
<a href="tel:7340523775"> <button class="btn">Call Now</button> </a>

<a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
</a>
</div>
</div>
<div class="marble-card">
  <div>
    <img class="alb10" src="/img/dungri 10,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb10" src="/img/dungri 10,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb10" src="/img/dungri 10,3.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Dungari Marble </h2> </pre>
  <p>Size: (50X32)Inch</p>
  <p>Number of Slabs: 35</p>
  <p>Price: Rs 225(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
  
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>

<div class="marble-card">
<div>
  <img class="alb11" src="/img/dungri 12,1.jpeg" alt="Albeta Marble" style="width:100%">
  <img class="alb11" src="/img/dungri 12,2.jpeg" alt="Kumari Marble" style="width:100%">
  <img class="alb11" src="/img/dungri 12,3.jpeg" alt="Special Design" style="width: 100%"> 
</div>
<div>
<pre>
<h2>Type: dungari Marble </h2> </pre>
<p>Size: (63X26)Inch</p>
<p>Number of Slabs: 36</p>
<p>Price: Rs 140(per sq feet)</p>
<a href="tel:7340523775"> <button class="btn">Call Now</button> </a>

<a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
</a>
</div>
</div>
<div class="marble-card">
  <div>
    <img class="alb12" src="/img/dungri 13,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb12" src="/img/dungri 13,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb12" src="/img/dungri 13,3.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Dungari Marble </h2> </pre>
  <p>Size: (69X26)Inch</p>
  <p>Number of Slabs: 80</p>
  <p>Price: Rs 160(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
  
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>

<div class="marble-card">
<div>
  <img class="alb13" src="/img/dungri 14,1.jpeg" alt="Albeta Marble" style="width:100%">
  <img class="alb13" src="/img/dungri 14,2.jpeg" alt="Kumari Marble" style="width:100%">
  <img class="alb13" src="/img/dungri 14,3.jpeg" alt="Special Design" style="width: 100%"> 
</div>
<div>
<pre>
<h2>Type: dungari Marble </h2> </pre>
<p>Size: (47X32)Inch</p>
<p>Number of Slabs: 50</p>
<p>Price: Rs 160(per sq feet)</p>
<a href="tel:7340523775"> <button class="btn">Call Now</button> </a>

<a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
</a>
</div>
</div>
<div class="marble-card">
  <div>
    <img class="alb14" src="/img/dungri n 4,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb14" src="/img/dungri n 4,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb14" src="/img/dungri n 4,3.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Dungari Marble </h2> </pre>
  <p>Size: (83X38)Inch</p>
  <p>Number of Slabs: 98</p>
  <p>Price: Rs 290(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
  
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>

<div class="marble-card">
<div>
  <img class="alb15" src="/img/dungri n 5,1.jpeg" alt="Albeta Marble" style="width:100%">
  <img class="alb15" src="/img/dungri n 5,2.jpeg" alt="Kumari Marble" style="width:100%">
  <img class="alb15" src="/img/dungri n 5,3.jpeg" alt="Special Design" style="width: 100%"> 
</div>
<div>
<pre>
<h2>Type: dungari Marble </h2> </pre>
<p>Size: (47X38)Inch</p>
<p>Number of Slabs: 99</p>
<p>Price: Rs 290(per sq feet)</p>
<a href="tel:7340523775"> <button class="btn">Call Now</button> </a>

<a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
</a>
</div>
</div>
<div class="marble-card">
  <div>
    <img class="alb16" src="/img/dungri n 6,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb16" src="/img/dungri n 6,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb16" src="/img/dungri n 6,3.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Dungari Marble </h2> </pre>
  <p>Size: (24X29)Inch</p>
  <p>Number of Slabs: 104</p>
  <p>Price: Rs 125(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
  
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>

<div class="marble-card">
<div>
  <img class="alb17" src="/img/dungri n 7,1.jpeg" alt="Albeta Marble" style="width:100%">
  <img class="alb17" src="/img/dungri n 7,2.jpeg" alt="Kumari Marble" style="width:100%">
  <img class="alb17" src="/img/dungri n 7,3.jpeg" alt="Special Design" style="width: 100%"> 
</div>
<div>
<pre>
<h2>Type: dungari Marble </h2> </pre>
<p>Size: (44X38)Inch</p>
<p>Number of Slabs: 49</p>
<p>Price: Rs 140(per sq feet)</p>
<a href="tel:7340523775"> <button class="btn">Call Now</button> </a>

<a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
</a>
</div>
</div>
<div class="marble-card">
  <div>
    <img class="alb18" src="/img/dungri n 8,1.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb18" src="/img/dungri n 8,2.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb18" src="/img/dungri n 8,3.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Dungari Marble </h2> </pre>
  <p>Size: (52X38.5)Inch</p>
  <p>Number of Slabs: 44</p>
  <p>Price: Rs 140(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
  
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>

<div class="marble-card">
<div>
  <img class="alb19" src="/img/dungri n 9,1.jpeg" alt="Albeta Marble" style="width:100%">
  <img class="alb19" src="/img/dungri n 9,2.jpeg" alt="Kumari Marble" style="width:100%">
  <img class="alb19" src="/img/dungri n 9,3.jpeg" alt="Special Design" style="width: 100%"> 
</div>
<div>
<pre>
<h2>Type: dungari Marble </h2> </pre>
<p>Size: (48X29.5)Inch</p>
<p>Number of Slabs: 52</p>
<p>Price: Rs 130(per sq feet)</p>
<a href="tel:7340523775"> <button class="btn">Call Now</button> </a>

<a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
</a>
</div>
</div>
<div class="marble-card">
  <div>
    <img class="alb20" src="/img/dungri n 10,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb20" src="/img/dungri n 10,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb20" src="/img/dungri n 10,3.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Dungari Marble </h2> </pre>
  <p>Size: (29X38.5)Inch</p>
  <p>Number of Slabs: 55</p>
  <p>Price: Rs 130(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
  
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>
  
  
  <%-include('../partials/nav.ejs');%>
  <%-include('../partials/head.ejs');%>
</body>
</html>