<!DOCTYPE html>
<html lang="en">
<head>
  
    <link rel="icon" type="image/x-icon" href="/img/fabicon.ico">
</head>
<body>
  <%-include('../partials/bar.ejs');%>
    
  <section class="sectiont">
    <div class="thumbnail">
      <a href="albeta"> <img src="/img/albeta3.jpg" alt="Albeta Marble">
      <h3>Albeta Marble</h3> </a>
    </div>
    <div class="thumbnail">
     <a href="dungari" > <img src="/img/1168mar1.jpg" alt="Dungri Marble">
      <h3>Dungri Marble</h3> </a>
    </div>
    <div class="thumbnail">
      <a href="kumari">
      <img src="/img/1149 kumari ,11.jpg" alt="Kumari Marble">
      <h3>Kumari Marble</h3> </a>
    </div>
    <div class="thumbnail">
      <a href="specialdesign">
      <img src="/img/227 dungriespecial ,2.jpg" alt="Special Design">
      <h3>Special Design</h3> </a>
    </div>
    
  </section>

    
      <div class="container">
        <p class="para">Get Professional Services. Call us Now: \7340523775</p>
      </div>
      
  <%-include('../partials/nav.ejs');%>
  <%-include('../partials/head.ejs');%>
</body>
</html>