<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %> </title></title>
  <link rel="icon" type="image/x-icon" href="/img/fabicon.ico">
</head>
<body>
  <%-include('../partials/bar.ejs');%>
      <div class="container">
        <h1>Welcome to the Kumari Marble Store</h1>
        <div class="marble-card">
          <div>
            <img class="alb1" src="/img/dungri 20,1.jpeg" alt="Albeta Marble" style="width:100%">
            <img class="alb1" src="/img/dungri 20,2.jpeg" alt="Kumari Marble" style="width:100%">
            <img class="alb1" src="/img/dungri 20,3.jpeg" alt="Special Design" style="width: 100%"> 
          </div>
        <div>
          <pre>
          <h2>Type: Kumari Marble </h2> </pre>
          <p>Size: (62X32)Feet</p>
          <p>Number of Slabs: 61</p>
          <p>Price: Rs 70(per sq feet)</p>
          <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
          <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
          </a>
        </div>
      </div>
      <div class="marble-card">
        <div>
          <img class="alb2" src="/img/dungri 21,1.jpeg" alt="Albeta Marble" style="width:100%">
          <img class="alb2" src="/img/dungri 21,2.jpeg" alt="Kumari Marble" style="width:100%">
          <img class="alb2" src="/img/dungri 21,3.jpeg" alt="Special Design" style="width: 100%"> 
        </div>
      <div>
        <pre>
        <h2>Type: Kumari Marble </h2> </pre>
        <p>Size: (80X26)Feet</p>
        <p>Number of Slabs: 76</p>
        <p>Price: Rs 70(per sq feet)</p>
        <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
        
        <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
        </a>
      </div>
    </div>

    <div class="marble-card">
      <div>
        <img class="alb3" src="/img/dungri 15,1.jpeg" alt="Albeta Marble" style="width:100%">
        <img class="alb3" src="/img/dungri 15,2.jpeg" alt="Kumari Marble" style="width:100%">
        <img class="alb3" src="/img/dungri 15,3.jpeg" alt="Special Design" style="width: 100%"> 
      </div>
    <div>
      <pre>
      <h2>Type: Kumari Marble </h2> </pre>
      <p>Size: (47X32)Feet</p>
      <p>Number of Slabs: 40</p>
      <p>Price: Rs 60(per sq feet)</p>
      <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
      
      <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
      </a>
    </div>
  </div>
  
  <div class="marble-card">
    <div>
      <img class="alb4" src="/img/dungri 16,1.jpeg" alt="Albeta Marble" style="width:100%">
      <img class="alb4" src="/img/dungri 16,2.jpeg" alt="Kumari Marble" style="width:100%">
      <img class="alb4" src="/img/dungri 16,3.jpeg" alt="Special Design" style="width: 100%"> 
    </div>
  <div>
    <pre>
    <h2>Type: Kumari Marble </h2> </pre>
    <p>Size: (44X35)Feet</p>
    <p>Number of Slabs: 50</p>
    <p>Price: Rs 50(per sq feet)</p>
    <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
    
    <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
    </a>
  </div>
</div>

<div class="marble-card">
  <div>
    <img class="alb5" src="/img/dungri 17,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb5" src="/img/dungri 17,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb5" src="/img/dungri 17,3.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Kumari Marble </h2> </pre>
  <p>Size: (48X38)Feet</p>
  <p>Number of Slabs: 43</p>
  <p>Price: Rs 50(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a> 
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>
<div class="marble-card">
  <div>
    <img class="alb6" src="/img/dungri 18,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb6" src="/img/dungri 18,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb6" src="/img/dungri 18,3.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Kumari Marble </h2> </pre>
  <p>Size: (63X38)Feet</p>
  <p>Number of Slabs: 63</p>
  <p>Price: Rs 50(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a> 
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>
<div class="marble-card">
  <div>
    <img class="alb7" src="/img/dungri 19,1.jpeg" alt="Albeta Marble" style="width:100%">
    <img class="alb7" src="/img/dungri 19,2.jpeg" alt="Kumari Marble" style="width:100%">
    <img class="alb7" src="/img/dungri 19,3.jpeg" alt="Special Design" style="width: 100%"> 
  </div>
<div>
  <pre>
  <h2>Type: Kumari Marble </h2> </pre>
  <p>Size: (35X26)Feet</p>
  <p>Number of Slabs: 65</p>
  <p>Price: Rs 50(per sq feet)</p>
  <a href="tel:7340523775"> <button class="btn">Call Now</button> </a> 
  <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
  </a>
</div>
</div>
  <%-include('../partials/nav.ejs');%>
  <%-include('../partials/head.ejs');%>
</body>
</html>