<!DOCTYPE html>
<html lang="en">
<head>
  
  <title><%= title %> </title></title>
  <link rel="icon" type="image/x-icon" href="/img/fabicon.ico">
</head>
<body>
  <%-include('../partials/bar.ejs');%>

  <div class="container">
    <h1>Our Services</h1>
    <p>We offer a range of services to cater to your needs:-</p>
    <ul>
      <li>1.Marble selection and consultation.</li>
      <li>2.Custom marble design and fabrication.</li>
      <li>3.Marble installation and maintenance</li>
      <li>4.Marble restoration and repair.</li>
      <li>5.Marble cleaning and sealing.</li>
    </ul>
    
    <!-- <a href="/contact"> <p><button class="button">Contact Us For More Details</button></p> </a> -->
  </div>
  <a href="/contact"> <p><button class="button">Contact Us For More Details</button></p> </a>
  <%-include('../partials/nav.ejs');%>
  <%-include('../partials/head.ejs');%>
</body>
</html>