<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %> </title></title>
  <link rel="icon" type="image/x-icon" href="/img/fabicon.ico">
</head>
<body>
  <%-include('../partials/bar.ejs');%>
      <div class="container">
        <h1>Welcome to the SpecialDesign Marble Store</h1>
        <div class="marble-card">
          <div>
            <img class="alb1" src="albeta1.jpg" alt="Albeta Marble" style="width:100%">
            <img class="alb1" src="albeta2.jpg" alt="Kumari Marble" style="width:100%">
            <img class="alb1"  src="albeta3.jpg" alt="Special Design" style="width: 100%"> 
          </div>
        <div>
          <pre>
          <h2>Type: SpecialDesign Marble </h2> </pre>
          <p>Size: (42X26)Inch</p>
          <p>Number of Slabs: 67</p>
          <p>Price: Rs 160(per sq feet)</p>
          <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
          
          <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
          </a>
        </div>
      </div>
      <div class="marble-card">
        <div>
          <img class="alb2" src="albeta1.jpg" alt="Albeta Marble" style="width:100%">
          <img class="alb2" src="albeta2.jpg" alt="Kumari Marble" style="width:100%">
          <img class="alb2"  src="albeta3.jpg" alt="Special Design" style="width: 100%"> 
        </div>
      <div>
        <pre>
        <h2>Type: SpecialDesign Marble </h2> </pre>
        <p>Size: (42X26)Inch</p>
        <p>Number of Slabs: 67</p>
        <p>Price: Rs 160(per sq feet)</p>
        <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
        
        <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
        </a>
      </div>
    </div>

    <div class="marble-card">
      <div>
        <img class="alb3" src="albeta1.jpg" alt="Albeta Marble" style="width:100%">
        <img class="alb3" src="albeta2.jpg" alt="Kumari Marble" style="width:100%">
        <img class="alb3"  src="albeta3.jpg" alt="Special Design" style="width: 100%"> 
      </div>
    <div>
      <pre>
      <h2>Type: SpecialDesign Marble </h2> </pre>
      <p>Size: (42X26)Inch</p>
      <p>Number of Slabs: 67</p>
      <p>Price: Rs 160(per sq feet)</p>
      <a href="tel:7340523775"> <button class="btn">Call Now</button> </a>
      
      <a href="https://api.whatsapp.com/send?phone=917340523775" target="_blank"> <button class="btn">Whatsapp Us</button>
      </a>
    </div>
  </div>
  <%-include('../partials/nav.ejs');%>
  <%-include('../partials/head.ejs');%>
</body>
</html>