<!DOCTYPE html>
<html lang="en">
<head>

  <title><%= title %> </title></title>
  <link rel="icon" type="image/x-icon" href="/img/fabicon.ico">
</head>
<body>
  <%-include('../partials/bar.ejs');%>

  <section  class="background firstSection">
    <div class="box-main">
      <div class="firstHalf">
        <h1 class="text-big">We Provide Ultimate Makrana Marble Services</h1>
        <p class="text-small">We Make It a Priority to Offer Flexible Services to Accommodate Your Needs</p>
        
        <p class="text-small" style="font-style: italic; font-weight: bold;">Trust of 30 years</p>
       <a href="getAquote">
        <button class="btn">GET A QUOTE NOW</button>
      </a>
      </div>
    </div>
  </section>

  <section class="sectiont">
    <div class="thumbnail">
      <a href="albeta"> <img src="/img/albeta3.jpg" alt="Albeta Marble">
      <h3>Albeta Marble</h3> </a>
    </div>
    <div class="thumbnail">
     <a href="dungari" > <img src="/img/1168mar1.jpg" alt="Dungri Marble">
      <h3>Dungri Marble</h3> </a>
    </div>
    <div class="thumbnail">
      <a href="kumari">
      <img src="/img/1149 kumari ,11.jpg" alt="Kumari Marble">
      <h3>Kumari Marble</h3> </a>
    </div>
    <div class="thumbnail">
      <a href="specialdesign">
      <img src="/img/227 dungriespecial ,2.jpg" alt="Special Design">
      <h3>Special Design</h3> </a>
    </div>
    
  </section>

   <div class="container">
    <p  class="para">Get Professional Services. Call us Now: 7340523775</p>
  </div>

<marquee width="100%" direction="left" height="40px" style="background-color: #b83939; font-size: 25px;"  >
  Call, Message Us or fill contact form for any query wihout any hesitation.
  </marquee>


  <%-include('../partials/nav.ejs');%>
  <%-include('../partials/head.ejs');%>
</body>
</html>
